<html>
	<head>
		<title>JackSparrow's stream</title>
	</head>

	<body>
		<h1>Jack Sparrow</h1>
		<video id="localStream" width="300" controls></video>
	</body>
	<script src="javascript/bundle.js">
	
	</script>
</html>